@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
@import url("https://fonts.cdnfonts.com/css/gilroy-Medium");

a {
  text-decoration: none;
}
.first_page {
  background-color: white;
}
.menu__links {
  color: #000;
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.info__title {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.info__text {
  color: #888;

  font-family: Gilroy-Medium;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.firstButton {
  border: none;
  width: 140px;
  height: 50px;
  border-radius: 50px;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);

  color: #fff;
  font-family: Gilroy-Bold;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.secondButton {
  border: none;
  width: 140px;
  height: 50px;
  border-radius: 50px;
  background: white;

  color: #aaa;
  font-family: Gilroy-Bold;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
