
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

a {
    text-decoration: none;
}

.menu_link {
    color: blueviolet;
    font-size: 16px;
    line-height: 20px;
}

.title{
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.paragraph{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
    font-family: 'Lemon', serif;
}

.main_subtitle{
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}
.img_my {
    border-radius: 10px;
}
.form_edit{
    width: 200px;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    line-height: 30px;
}
.button_edit{
    width: 100px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.body_edit{
    font-family: sans-serif;
}
.block1{
    margin: 10px;
    padding: 20px;
}
.block2{
    margin: 20px;
    padding: 30px;
}
.block3{
    margin: 30px;
    padding: 40px;
}
.menu_link:hover{
    font-size: 32px;
    line-height: 20px;
}
.menu_link:active{
    color: red;
    font-size: 32px;
    line-height: 20px;
}
.list:first-child{
    background-color: black;
}
.list:nth-child(2){
    background-color: green;
}
.list:last-child{
    background-color: gold;
}
